#header {
  height: 100vh;
  width: 490px;
  display: flex;
  flex-direction: column;
}

#bio-title {
  color: #0CBABA;
  margin: 75px 30px;
  font-size: 1.64em;
  width: 750px;
  font-family: 'Monda', sans-serif;
  position: relative;
}

#pro-title {
  color: #FFF;
}

.scroll-btn {
  margin-left: 30px;
  font-size: 50px;
  position: relative;
  top: -65px;
  cursor: pointer;
  color: #FFF;
}

.scroll-btn:hover {
  color:#0CBABA;
}

#name {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
}

@media (max-width: 760px) {
  #pro-title {
    display: flex;
    flex-direction: column;
  }

  .scroll-btn {
    margin-top: 20px;
  }
}

@media (max-width: 560px) {
  #name {
    font-size: 2em;
  }

  #pro-title {
    font-size: 1.5em;
  }

  #bio-title {
    width: 0px;
  }

  .scroll-btn {
    margin-top: -33px;
    right: 12%;
  }
}

@media (max-width: 400px) {
  #name {
    font-size: 1.75em;
  }

  #pro-title {
    font-size: 1em;
  }

  .scroll-btn {
    margin-top: -90px;
    right: 10%;
  }
}