#header {
	height: 100vh;
	width: 490px;
}

#bio-title {
	color: #605E72;
	margin: 75px 30px;
	font-size: 1.64em;
	width: 750px;
}

.scroll-btn {
	display: block;
	background-color: transparent;
	background-size: cover;
  background: url('../../styles/images/arrow.svg');
	outline: none;
	width: 50px;
  height: 50px;
  margin: 10px auto 0 auto;
  border: none;
  cursor: pointer;
  transform: rotate(180deg);
}

#name {
	-webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
 
}

#bar {
	color: #7D4F50;
}