.skills-wrapper {
  background-color: #D1BE9C;
}

.skills-wrapper h2 {
  color: #494949;
  padding: 30px 0;
  text-align: center;
  font-weight: 700;
  font-size: 1.5em;
  width: 100%;
}

.lang-icon, .lib-icon, .test-icon, .flow-icon, .dev-icon {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #494949;
  width: 120px;
  height: 120px;
}

.lang-icon {
  mask-image: url('../../styles/images/code.svg');
}

.lib-icon {
  mask-image: url('../../styles/images/libraries.svg');
}

.test-icon {
  mask-image: url('../../styles/images/test.svg');
}

.flow-icon {
  mask-image: url('../../styles/images/workflow.svg');
}

.dev-icon {
  mask-image: url('../../styles/images/tools.svg');
}

.skill-block .skills-list {
  padding-left: 25px;
  width: 55%;
}

.skills-list h4 {
  color: #494949;
  font-size: 1.2em;
}

.skill-block {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 10px 35px;
  padding-bottom: 25px;
  width: 50%;
  max-width: 425px;
}

.skills-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 95%;
}

@media (max-width: 690px) {
  .skill-block {
    width: 85%;
  }
}

@media (max-width: 420px) {
  .lang-icon, .lib-icon, .test-icon, .flow-icon, .dev-icon {
    width: 81px;
    height: 81px;
  }

  .skill-block:not(:last-child) {
    border-bottom: solid 1px #1e3426;
  }
}